//@import "node_modules/react-image-gallery/styles/scss/image-gallery.scss";
//@import "cssindex.scss";
//@import "~slick-carousel/slick/slick.scss";
//@import "~slick-carousel/slick/slick-theme.scss";
:global(body) {
  margin: 0px;
  //margin-top: -16px;
  line-height: 1.42857;
  padding: 0;
  color: #30383f;
  font-family: Lato,Helvetica Neue,Helvetica;
  font-size: 13px;
  min-width: 300px;
  min-height: 100%;
  background: #f1f3f4;
}
:global(.carousel.carousel-slider){
  margin: auto!important;
}
:global(.carousel .control-prev.control-arrow){
  left: -15px!important;
}
:global(.carousel .control-next.control-arrow){
  right: -15px!important;
}
:global(.carousel.carousel-slider .control-next.control-arrow ){
  padding-left: 9px!important;
  padding-right: 23px!important;
}

:global(.carousel.carousel-slider .control-prev.control-arrow ){
  padding-left: 23px!important;
  padding-right: 9px!important;
}

:global(.carousel .slide){
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent!important;
}
:global(.row) {
  display: flex;
  flex-direction: row;
}
:global(.ver-center) {
  align-items: center;
}
:global(.ver-end) {
  align-items: flex-end;
}
:global(.ver-start) {
  align-items: flex-start;
}

:global(.hor-sb) {
  justify-content: space-between;
}

:global(.col) {
  display: flex;
  flex-direction: column;
}

:global(.center) {
  justify-content: center;
  align-items: center;
}

:global(.vh-100){
  height: 100vh;
}

@for $i from 1 through 10 {
  .box:nth-of-type(#{$i}) {
    background-color: darken(cornflowerblue, 0% + $i);
  }
  :global(.f#{$i}) {
    display: flex;
    flex: $i;
  }
}